/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search {
    display: flex;
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 4px;
}

.search button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* スタイリッシュなボタンのスタイル */
.search-button {
  background-color: #057933; /* ボタンの背景色 */
  color: #fff; /* ボタンのテキスト色 */
  padding: 10px 20px; /* ボタンのパディング */
  border: none; /* ボーダーを削除 */
  border-radius: 5px; /* ボタンの角を丸める */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
}

/* ボタンにホバー時のスタイルを追加 */
.search-button:hover {
  background-color: #0056b3; /* ホバー時の背景色 */
}
